.nav-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color:black;
    color: white;
}
.span1{
    color: red;
}
.span2{
    color: antiquewhite;
    
}
.lists{
    list-style: none;
    display: flex;

}
.lists li{
    padding: 5px;
    background-color: red;
    border-radius: 5px;
    margin-left: 5px;
}

.nav-bar button{
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    align-self: center;
    background-color: rgb(239, 24, 24);
}

.form-field{
    margin-top: 50px;
}
.form{
    width: 50%;
    margin:0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    box-shadow: 5px 8px 5px;
}
input{
    min-width:400px;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;

}
.form button{
    min-width:420px;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    align-self: center;
    background-color: rgb(239, 24, 24);
    

}
button:hover{
    background-color: pink;
}